<div class="outer">
    <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="panel-body p-3">
                <form class="form" [formGroup]="signUpForm">
                    <h2 id="heading">Sign Up</h2>
                    <div class="field" [class.error]="signUpForm.controls['username'].dirty && signUpForm.hasError('required', 'username')">
                        <span class="input-icon fa fa-at p-2"></span>
                        <input autocomplete="off" formControlName="username" class="input-field" type="text" placeholder="Username">
                    </div>
                    <small *ngIf="signUpForm.controls['username'].dirty && signUpForm.hasError('required', 'username')" class="text-danger">*Mohon isi Username</small>
                    <div class="field" [class.error]="signUpForm.controls['namalengkap'].dirty && signUpForm.hasError('required', 'namalengkap')">
                        <span class="input-icon fa fa-at p-2"></span>
                        <input autocomplete="off" formControlName="namalengkap" class="input-field" type="text" placeholder="Nama Lengkap">
                    </div>
                    <small *ngIf="signUpForm.controls['namalengkap'].dirty && signUpForm.hasError('required', 'namalengkap')" class="text-danger">*Mohon isi Nama Lengkap</small>
                    <div class="form-group pt-3">
                        <div class="field" [class.error]="signUpForm.controls['role'].dirty && signUpForm.hasError('required', 'role')">
                            <span class="input-icon fa fa-users p-2"></span>
                            <select id="input-field" name="role" formControlName="role" required>
                                <option value="" disabled selected>Pilih Peran</option>
                                <option value="admin">Admin</option>
                                <option value="guru">Guru</option>
                                <option value="siswa">Siswa</option>
                                <option value="staff">Staff</option>
                            </select>
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="signUpForm.controls['role'].dirty && signUpForm.hasError('required', 'role')">*Mohon Pilih Peran</small>
                    <div class="form-group pt-3">
                        <div class="field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')">
                            <span class="input-icon fa fa-envelope p-2"></span>
                            <input autocomplete="off" class="input-field" formControlName="email" type="text" placeholder="Email">
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')">*Mohon isi Email</small>
                    <div class="form-group pt-3">
                        <div class="field" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">
                            <span class="fa fa-lock p-2"></span>
                            <input autocomplete="off" class="input-field" formControlName="password" [type]="type" placeholder="Password">
                            <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">*Password is required</small>
                    <div>
                    <!-- <button type="submit" class="button1" value="Sign Up">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> -->
                        <input (click)="onSignUp()" type="submit" class="button1" value="Sign Up">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" class="button2" value="Login" routerLink="/login">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
