<div class="outer">
    <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
            <div class="p-3">
                <form class="form" [formGroup]="signUpForm">
                    <h2 id="heading">Sign Up</h2>
                    <div class="field" [class.error]="signUpForm.controls['name'].dirty && signUpForm.hasError('required', 'name')">
                        <span class="input-icon fa fa-at p-2"></span>
                        <input autocomplete="off" formControlName="name" class="input-field" type="text" placeholder="Nama Lengkap">
                    </div>
                    <small *ngIf="signUpForm.controls['name'].dirty && signUpForm.hasError('required', 'name')" class="text-danger">*Mohon isi Nama Lengkap</small>
                    <div class="form-group pt-3">
                        <div class="field" [class.error]="signUpForm.controls['role'].dirty && signUpForm.hasError('required', 'role')">
                            <span class="input-icon fa fa-users p-2"></span>
                            <select id="input-field" name="role" formControlName="role" required>
                                <option value="" disabled selected>Pilih Peran</option>
                                <option value="admin">Admin</option>
                                <option value="guru">Guru</option>
                                <option value="siswa">Siswa</option>
                                <option value="staff">Staff</option>
                            </select>
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="signUpForm.controls['role'].dirty && signUpForm.hasError('required', 'role')">*Mohon Pilih Peran</small>
                    <div class="form-group pt-3">
                        <div class="field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')">
                            <span class="input-icon fa fa-envelope p-2"></span>
                            <input autocomplete="off" class="input-field" formControlName="email" type="text" placeholder="Email">
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')">*Mohon isi Email</small>
                    <div class="form-group pt-3">
                        <div class="field" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">
                            <span class="fa fa-lock p-2"></span>
                            <input autocomplete="off" class="input-field" formControlName="password" [type]="type" placeholder="Password">
                            <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">*Password is required</small>
                    <!-- <div class="form-group pt-3">
                        <div class="field" [class.error]="signUpForm.controls['password_confirmation'].dirty && signUpForm.hasError('required', 'password_confirmation')">
                            <span class="fa fa-lock p-2"></span>
                            <input autocomplete="off" class="input-field" formControlName="password_confirmation" [type]="type" placeholder="Konfirmasi Password">
                            <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="signUpForm.controls['password_confirmation'].dirty && signUpForm.hasError('required', 'password_confirmation')">*Konfirmasi Password</small>
                    <div *ngIf="passwordMatchError">
                        Password does not match
                      </div> -->
                      <small class="noakun">Belum punya akun ? 
                        <a routerLink="/login">Login</a>
                    </small>
                    <div class="btn">
                        <input (click)="onSignUp()" class="button" value="Sign Up">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>