.sidenav {
  background: #a0ce65;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 3.7rem;
  height: 100vh;
  box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}
.sidenav .logo-container {
  display: flex;
  align-items: center;
  padding: 0.938rem 0.938rem 0 0.938rem;
  width: 100%;
}
.sidenav .logo-container .logo {
  background: transparent;
  text-align: center;
  width: 3rem;
  min-width: 3rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
}
.sidenav .logo-container .logo-text {
  margin-left: 1.5rem;
  font-size: 24px;
  font-weight: 700;
  color: black;
}
.sidenav .logo-container .btn-close {
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}
.sidenav .logo-container .btn-close .fa-times {
  color: black;
  font-size: 24px;
}
.sidenav-collapsed {
  width: 14rem;
  font-size: 0.9em;
}
.sidenav-nav {
  list-style: none;
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.65rem);
  cursor: pointer;
}
.sidenav-nav .sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.625rem;
}
.sidenav-nav .sidenav-nav-item .sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: black;
  text-decoration: none;
  border-radius: 0.625rem;
  transition: all 0.3s ease;
}
.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-icon {
  font-size: 22px;
  width: 1rem;
  min-width: 1rem;
  margin: 0 0.5rem;
  text-align: center;
}
.sidenav-nav .sidenav-nav-item .sidenav-nav-link .sidenav-link-text {
  margin-left: 0.7rem;
}
.sidenav-nav .sidenav-nav-item:hover .sidenav-nav-link {
  background-color: #fff;
  color: #000;
}
.active {
  background-color: #fff;
}
.active .sidenav-link-icon, .active .sidenav-link-text {
  color: #000;
}

.img-logo {
  width: 40px;
  height: 40px;
  margin-left: -15px;
}