footer {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 10;
    bottom: 0;
    width: 90%;
    color: black;
    text-align: center;
    background-color: white;
    font-size: 1rem;
}
p{
    margin: 0px 20px;
}
@media (max-width: 767px) {
    footer{
        width: 100%;
    }
    p{
        font-size: 0.95rem;
    }
}