<div class="wrapper">
    <div class="box header">
        <app-header></app-header>
    </div>
    <div class="box sidebar">
        <app-sidenav></app-sidenav>
    </div>
    <div class="box content">
        <div class="header-div">
            <div class="overlay">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
        </div>
    </div>
    <div class="box footer">
        <app-footer></app-footer>
    </div>
</div>