.cardhead {
    grid-area: cardhead;
    display: flex;
    flex-direction: row;
}

.content-midle {
    grid-area: content-midle;
    margin: 20px;
}

.content-side {
    grid-area: content-side;
}

.content-bellow {
    grid-area: content-bellow;
    margin: 20px;
}

.content {
    margin: 60px 10px 10px 40px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-areas:
    "cardhead cardhead cardhead"
    "content-midle content-midle content-side"
    "content-bellow  content-bellow  content-bellow";
    background-color: transparent;
    color: #444;
}

@media only screen and (max-width: 760px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .sticky {
        position: sticky;
        top: 0;
    }
    .cardhead {
        margin-left: 40px;
    }
    .head {
        margin: 2px;
    }
    .head h4 {
        font-size: 1rem;
        font-weight: bold;
    }
    .head p {
        font-size: 0.8rem;
    }
    .content-midle {
        margin-left: 40px;
    }
    .content-bellow {
        margin-left: 40px;
    }

}