.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a0ce65;
    color: black;
    padding: 10px;
    width: 90vw;
}

/* Logo styles */
.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Menu styles */
.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    margin: 0 10px;
    cursor: pointer;
}

/* Profile styles */
.profile {
    display: flex;
    align-items: center;
    position: relative;
}

.profile-name {
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    margin-right: 10px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dropdown styles */
.dropdown {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 10px;
    display: none;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: white
}

.profile:hover .dropdown {
    display: block;
}

/* Message styles */
.message {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

.overlay{
	width: 100%;
	height: 300px;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( to bottom, #a0ce65 10%, #f2f8a1 100%);
	border-radius: 0 0 85% 85% / 80%;
}