<header class="header">
    <div class="logo">Effs Student</div>
    <div class="profile">
        <div class="message">
            <i class="fa fa-envelope" aria-hidden="true"></i>
        </div>
        <div class="profile-photo">
            <img src="assets/img/ird.png" (click)="toggleMenu()" alt="Profile Photo">
            <div [ngClass]="{'open': menuOpen}" class="dropdown">
                <div class="dropdown-item">Profile</div>
                <div class="dropdown-item">Settings</div>
                <div class="dropdown-item">Logout</div>
            </div>
        </div>
        <div class="profile-name">John Doe</div>
    </div>
</header>