.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a0ce65;
    color: black;
    padding: 10px;
    width: 100vw;
    padding-right: 20px;
}

/* Logo styles */
.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 6vw;
}

/* Menu styles */
.menu {
    display: flex;
    align-items: center;
}

.menu-item {
    margin: 0 10px;
    cursor: pointer;
}

/* Profile styles */
.profile {
    display: flex;
    align-items: center;
    position: relative;
}

.profile-name {
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
}

.profile-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    margin-right: 10px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Dropdown styles */
.dropdown {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    padding: 10px;
    display: none;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.profile:hover .dropdown {
    display: block;
}

/* Message styles */
.message {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 760px) {
    .profile-name {
        margin-right: 0;
    }
    .logo {
        visibility: hidden;
    }
}