.card {
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    margin: auto;
}
   
.card-details {
    color: black;
    height: 100%;
    display: grid;
    place-content: center;
    font-family: poppins;
}
   
.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}
   
.text-body {
    color: rgb(134, 134, 134);
}
   
/*Text*/
.text-title {
    font-size: 1.5em;
    font-weight: bold;
}
   
/*Hover*/
.card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
   
.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

.printcard {
    margin: 10px;
    display: inline-flex;
    border: 1px solid black;
    padding: 5px;
    background-color: rgb(214, 222, 230);
    font-family: 'Poppins';
    border-radius: 2%;
    align-items: center;
}

.printcardDetail {
    margin-top: 15px;
}

.footcard {
    display: inline-flex;
    margin-left: 10%;
    font-weight: bold;
    padding: auto;
    font-size: 15px;
}