/* table */

table {
  font-family: poppins;
  font-size: 0.87rem;
  height: fit-content;
  width: 75vw;
}

.title-page h4 {
  text-align: center;
  color: rgb(22, 21, 21);
  font-weight: 700;
}

.thead-dark th{
  font-weight: 400;
}

/* button-style */

button {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 8vw;
  height: 6vh;
  background-image: linear-gradient(to top, #f3e308 50%, #c2c9c28c 100%);
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: poppins;
  font-size: 14px;
  font-weight: 600;
  color: #1a1919;
  text-shadow: 0 1px #fff;
}

button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.half-button {
  width: 47%;
  margin: 3px;
}

/* Seacrh-style */ 
.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  margin: 1em 0 1em 0;
  max-width: 290px;
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 20px;
  width: 30%;
}

.inputGroup :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #e8e8e8;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(52,58,64)
}
  
@media (min-width: 768px) {
  #button-table {
    display: flex;
  }
}

@media (max-width: 767px) {
  button {
    width: 15vw;
    height: 7vh;
  }
}

/* Pragination */
 
 .cube {
  color: #ccc;
  cursor: pointer;
  transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  width: 10em;
  height: 4em;
 }
 
 .cube:hover {
  transform: rotateX(-90deg);
 }
 
 .side {
  position: absolute;
  display: inline-block;
  height: 4em;
  width: 10em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.5em;
  font-weight: bold;
 }
 
 .top {
  background: #38c458;
  color: rgb(22, 22, 22);
  transform: rotateX(90deg) translate3d(0, 0, 2em);
  box-shadow: inset 0 0 0 5px #fff;
  width: 15vw;
  border-radius: 15px;
  font-family: poppins;
 }
 
 .front {
  background: rgb(52,58,64);
  border-radius: 15px;
  width: 15vw;
  color: #fff;
  box-shadow: inset 0 0 0 5px #fff;
  transform: translate3d(0, 0, 2em);
  font-family: poppins;
 }

 @media (max-width: 767px) {
  .front {
    width: 28vw;
    height: 10vh;
    font-size: 0.9rem;
  }
  .side { 
    width: 28vw;
    height: 10vh;
    font-size: 0.9rem;
  }
}

/* Card */
.card {
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: auto;
}
 
.card-details {
  color: black;
  height: 100%;
  display: grid;
  place-content: center;
  font-family: poppins;
}
 
.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
 
.text-body {
  color: rgb(134, 134, 134);
}
 
/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}
 
/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
 
.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.printcard {
  margin: 10px;
  display: inline-flex;
  border: 1px solid black;
  padding: 5px;
  background-color: rgb(214, 222, 230);
  font-family: 'Poppins';
  border-radius: 2%;
  align-items: center;
}

.printcardDetail {
  margin-top: 15px;
}

.footcard {
  display: inline-flex;
  margin-left: 10%;
  font-weight: bold;
  padding: auto;
  font-size: 15px;
}