  
.sidebar {
    grid-area: sidebar;
    z-index: 2;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: row;
    z-index: 0;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-template-columns: 4vw 48vw 48vw;
    grid-template-areas:
    "sidebar header header"
    "sidebar content content"
    "sidebar  footer  footer";
    background-color: #fff;
    color: #444;
    z-index: -1;
}


.box {
    background-color: #fff;
    color: #fff;
    font-size: 150%;
}

.head {
    color: black;
    width: 250px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

.overlay{
	width: 100vw;
	height: 300px;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient( to bottom, #a0ce65 10%, #f2f8a1 100%);
	border-radius: 0 0 85% 85% / 80%;
    z-index: 0;
    position: fixed;
}

@media only screen and (max-width: 760px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .sticky {
        position: sticky;
        top: 0;
    }

}