<app-header class="sticky"></app-header>
<div class="overlay"></div>
<div class="wrapper">
    <div class="box header">
        
    </div>
    <div class="box sidebar">
        <app-sidenav></app-sidenav>
    </div>
    <div class="box content profile-content">
            <div class="profile-head">
                <div class="detailuser">
                    <h1>Nama Wali</h1>
                    <p>ini Profile page,  bisa dirubah dengan bio apa saja yang diinginkan</p>
                    <button>Edit Profile</button>
                </div>
                <div class="fotoprofil">
                    <img src="assets/img/ird.png">
                </div>
            </div>
        
            <div class="card namaanak">
                <h4>Nama Anak</h4>
                <ul>
                    <li>Anak 1 TK</li>
                    <li>Anak 2  SD</li>
                    <li>Anak 2 STAIM</li>
                </ul>
            </div>
            <div class="card detailprofile">
                <h4>Detail Tentang Orangtua</h4>
                <p>Nama : John Doe</p>
                <p>Profesi : Software Engeneer</p>
                <p>TTL : 16 Oktober 1996</p>
            </div>
            <div class="card tagihan">
                <h4>Tagihan</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="card pengumuman">
                <h4>Pengumuman</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
    </div>
    <div class="box footer">
        <app-footer></app-footer>
    </div>
</div>