<app-header class="sticky"></app-header>
<div class="overlay"></div>
<div class="wrapper">
    <div class="box header">
        
    </div>
    <div class="box sidebar">
        <app-sidenav></app-sidenav>
    </div>
    <div class="box content">
        <div class="profile-head">
            <div class="detailuser">
                <h2>Nama Wali</h2>
                <p>ini Profile page,  bisa dirubah dengan bio apa saja yang diinginkan</p>
                <button>Edit Profile</button>
            </div>
            <div class="fotoprofil">
                <img src="assets/img/ird.png">
            </div>
        </div>
    </div>
    <div class="box footer">
        <app-footer></app-footer>
    </div>
</div>