<app-header class="sticky"></app-header>
<div class="overlay"></div>
<div class="wrapper">
    <div class="box header">
        
    </div>
    <div class="box sidebar">
        <app-sidenav></app-sidenav>
    </div>
    <div class="box content table-content">
        <div class="title-page">
            <h4>Daftar Siswa</h4>
            <p>Kelas</p>
            <p>Manager Kelas</p>
        </div>
        <table class="table table-striped" id="product">
            <thead class="thead-dark">
                <tr>
                    <th  scope="col">ID</th>
                    <th scope="col">Action</th>
                    <th  scope="col">Nama</th>
                    <th  scope="col">Kelas</th>
                    <th  scope="col">Nama Ibu</th>
                    <th  scope="col">Nama Ayah</th>
                    <th  scope="col">Nilai</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        -
                    </td>
                    <td id="button-table" scope="row"> 
                        -                     
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        -
                    </td>
                </tr>                
            </tbody>
        </table>
    </div>
    <div class="box footer">
        <app-footer></app-footer>
    </div>
</div>
